<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Harley Davidson Show-off</title>

        <link rel="stylesheet" href="assets/css/style.css">
        <!-- FontAwesome -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    </head>
    <body>
        <div id="application">
            <div style="text-align: center;">
                <a href="https://www.harley-davidson.com" target="_blank"><img src="assets/img/logo.png" alt="Logo" id="logo"></a>
            </div>
            <!-- <h1 style="text-align:center; color:white;">Carosello con Array Object</h1> -->
            <div class="container d-flex" @mouseout="autoPlay();" @mouseover="pausePlay();">
                <div class="image-container position-relative"> <!-- Container Immagini -->

                    <div id = "backward" class="backward position-absolute" @click="if(currentImg > 0){currentImg--;} else {currentImg = carouselImages.length-1}"><i class="fa-solid fa-circle-chevron-left"></i></div>
                    <div id = "forward" class="position-absolute" @click="if(currentImg < carouselImages.length - 1) {currentImg++;} else {currentImg=0;}"><i class="fa-solid fa-circle-chevron-right"></i></div>
                    
                    <div id = "description" class="position-absolute">
                        <h3> {{ carouselImages[currentImg].title }} </h3>
                        <p> {{ carouselImages[currentImg].text }} </p>
                    </div>

                    <img v-for="(element, carouselIndex) in carouselImages" :src="element.image" :alt="element.title" :class="carouselIndex == currentImg ? '':'d-none'">
                    <!-- Scorre l'array di oggetti e prende l'elemento.image, settando la classe d-none per le immagini disattivate -->
                
                </div>
                
                <div id="preview"> <!-- Container preview -->
                    <img v-for="(element, carouselIndex) in carouselImages" @click="currentImg = carouselIndex" :src="element.image" :alt="element.title" :class="carouselIndex == currentImg ? 'selected-image':''">
                    <!-- Scorre l'array di oggetti e prende l'elemento.image, settando la classe d-none per le immagini disattivate -->
                </div>
            </div>
        </div>
        
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <script src="assets/js/script.js"></script> <!-- Collegamento con il JS -->
    </body>
</html>